body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

/* form {border: 3px solid orange;;} temporarily removed the border */

h2 {
    font-size: 20px;
    margin-top: 0px;
    text-align: center;
}

} /* This } looks like an error but when I remove it things get weird */

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    box-sizing: border-box;
}

.inputWindow {
    border-top: 16px;
    padding: 5px;
    text-align: center;
}

button {
    background-color: orange;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

    button:hover {
        opacity: 0.8;
    }

.continuebtn {
    width: 25%;
    background-color: #f44336;
    position: relative;
    left: 38%;
}

.checkImage {
    height: 20px;
    width: 20px;
}

.crossImage {
    height: 20px;
    width: 20px;
}

table {
    width: 90%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
    text-align: center;
    background-color: white;
}


/* .cancelbtn {                 this block does not appear to be used anywhere 
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
} */

.container {
    padding: 16px;
    padding-top: 100px;
    vertical-align: middle;
    position: relative;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 200px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}
